@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

//Color Scheme
:root {
    --background: #252A34;
    --navbar: #252A34;
    --primary: #08D9D6;
    --secondary: #FF2E63;
    --white: #EAEAEA;
}

body {
    background: var(--background);
    margin: 0;
    font-family: 'Roboto+Mono';
}

.navigation-bar {
    background: var(--navbar);
    padding: 20px;

    .logo {
        max-height: 25px;
        max-width: 25px;
    }

    .heading {
        text-decoration: none;
        font-weight: 700;
        font-size: large;
        color: var(--primary);

        span {
            color: var(--secondary);
        }


    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-nav {
        cursor: pointer;
    }

}

//Link Colors
a {
    color: var(--secondary);
}

a:hover {
    color: var(--primary)
}



.hero {
    text-align: center;
    padding-bottom: 150px;
    padding-top: 50px;

    .introduction {
        font-weight: 700;
        font-size: medium;
        color: var(--secondary);
    }

    .name {
        font-size: xx-large;
        color: var(--white);
    }

    .portrait {
        float: left;
        padding-bottom: 50px;
        padding-left: 100px;
        max-height: 300px;
    }

    

}

.aboutme {
    padding-bottom: 100px;
    background-color: var(--secondary);
    text-align: center;
    margin-right: 50px;

    .heading{
        padding-top: 10px;
        font-size: xx-large;
        text-align: center;
    }
    
}



.portfolio {
    background-color: var(--primary);
    padding-bottom: 200px;
    text-align: center;
    margin-left: 50px;
    
    .heading {
        padding-top: 10px;
        padding-bottom: 100px;
        font-size: xx-large;
    }
    
}